---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<hr style="margin-top:1.5rem; margin-bottom:1.5rem;">



<div class="pub-item">
  <img class="pub-thumb" src="/images/arch.gif" alt="Metric Flow Matching">
  <div class="pub-body">
    <h3>
      <strong>Metric Flow Matching for Smooth Interpolations on the Data Manifold</strong>
      <strong>[</strong><a href="...">PDF</a><strong>] </strong>
      <strong>[</strong><a href="...">Code</a><strong>] </strong>
      <strong>[</strong><a href="...">Presentation</a><strong>] </strong>
    </h3>
    <p><strong>Kacper Kapuśniak</strong>*, …<br>NeurIPS 2024</p>
  </div>
</div>
<hr class="mt-0 mb-3">


