---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<hr style="margin-top:1.5rem; margin-bottom:1.5rem;">
<!-- New style rendering if publication categories are defined -->
<div class="d-flex flex-wrap align-items-center mb-3">
  <div style="flex: 0 0 160px; margin-right: 20px;">
    <img src="/images/arch.gif"
         alt="Metric Flow Matching for Smooth Interpolations on the Data Manifold"
         class="img-fluid rounded"
         style="max-width: 160px;">
  </div>
  <div style="flex: 1;">
    <h3 class="mb-1">
      <strong>Metric Flow Matching for Smooth Interpolations on the Data Manifold</strong>
      <strong>[</strong><a href="https://proceedings.neurips.cc/paper_files/paper/2024/file/f381114cf5aba4e45552869863deaaa7-Paper-Conference.pdf" target="_blank">PDF</a><strong>] </strong>
      <strong>[</strong><a href="https://github.com/kkapusniak/metric-flow-matching" target="_blank">Code</a><strong>] </strong>
      <strong>[</strong><a href="https://youtu.be/6cbOim_HjPg?si=04wYHEfyWgeifO03" target="_blank">Presentation</a><strong>] </strong>
    </h3>
    <p style="line-height:22px; font-size:18px;">
      <strong>Kacper Kapuśniak</strong>*, Peter Potaptchik, Teodora Reu, Leo Zhang, Alexander Tong, Michael Bronstein, Avishek Joey Bose, Francesco Di Giovanni
      <br>NeurIPS 2024
    </p>
  </div>
</div>
<hr class="mt-0 mb-3">



